html{
    background-color: hsl(30, 38%, 92%);
    font-family: Montseratt, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    border-radius: 10px;
    background-color: white;
}

.desktop-image{
    height: 450px;
    border-radius: 10px 0px 0px 10px;
}

.mobile-image{
    display: none;
}

article{
    height: 450px;
    width: 300px;
}


.product-type{
    color: hsl(228, 12%, 48%);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1; 
    margin-top: 0px;
    margin: 33px 32px 10px;
}

.product-name{
    font-family: Fraunces, serif;
    font-size: 32px;
    color: hsl(212, 21%, 14%);
    margin: 20px 32px 10px;
    line-height: 1;
}

.product-description{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    margin: 24px 32px 10px;
}

.price{
    font-family: Fraunces, serif;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    margin: 29px 32px 10px;
}

.discount{
    font-family: Monsteratt, sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    text-decoration: line-through;
    margin: 19px 19px 19px;
}

button{
    width: 236px;
    height: 48px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    margin: 15px 32px 32px;
}

button:hover{
    background-color: #1A4032;
    cursor: pointer;
}
.cart-icon{
    margin-right: 12px;
}

@media (max-width: 648px){
    .desktop-image{
        display: none;
    }

    .mobile-image{
        display: block;
        width: 343px;
        border-radius: 10px 10px 0px 0px;
    }

    main{
        flex-direction: column;
        height: 610px;
    }

    .product-type{
        margin: 24px 10px 10px;
    }

    .product-name{
        margin: 20px 10px;
    }

    .product-description{
        margin: 20px 10px;
    }

    .price{
        margin: 20px 10px 0px;
    }

    button{
        margin: 20px 10px;
        width: 285px;
    }
}